:root {
  --unit: 8px;
  --unit-2x: calc(var(--unit) * 2);
  --unit-3x: calc(var(--unit) * 3);
  --unit-4x: calc(var(--unit) * 4);
  --color-white: #fff;
  --color-gray-1: #2b2a28;
  --color-biege: #fcf6ed;
  --color-biege-dark: #dfd9d0;
  --border-radius: 2px;
  --box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1), 1px 2px 5px 0 rgba(0, 0, 0, 0.05);
  --font-size: 18px;
}

html {
  background: radial-gradient(var(--color-white), var(--color-biege) 70%);
  background-color: var(--color-biege);
  height: 100%;
}

body {
  box-sizing: border-box;
  color: var(--color-gray-1);
  font-family: 'Libre Baskerville', serif;
  font-size: var(--font-size);

  /* Improves font-smoothing on mac */
  -webkit-font-smoothing: antialiased;
  height: 100%;
  line-height: 1.4;
  margin: 0;
}

:global(#root) {
  height: 100%;
  min-width: 375px;
}
